@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --primary-color: #0d6e8bbf;
  --secondary-color: #e59400e6;
  --tertiary-color: #0d6e8bbf;
  --overlay-color: #182733d9;
  --menu-speed: 0.75s;
  --color-opacity: 0.3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
}
/* SHOWCASE */
.showcase__container {
  max-width: 60.562rem;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}
.header__showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}
.header__showcase::before {
  content: " ";
  background: url("../images/showcase.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.showcase__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.showcase__heading {
  font-size: 4rem;
}
.showcase__text {
  font-size: 1.3rem;
}
.showcase__link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: #fff;
  background: var(--primary-color);
  text-decoration: none;
  margin-top: 1.5rem;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  /* cursor: pointer; */
}
.showcase__link:hover {
  opacity: var(--color-opacity);
  /* background: var(--secondary-color); */
}

/* MENU */
.menu {
  /* Position the menu to fixed to avoid scrolling */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 1; visible on the top of any content */
  z-index: 1;
}
/* menu toggler */
.menu__toggler {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /*hide the checkbox*/
  opacity: 0;
}
.menu__hamburger {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Hamburger line*/
.menu__hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/*Hamburger Lines top & Bottom*/
.menu__hamburger > div::before,
.menu__hamburger > div::after {
  content: " ";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves the line down*/
.menu__hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
/* Rotate the hanburger menu on checking the checkbox */
.menu__toggler:checked + .menu__hamburger > div {
  transform: rotate(135deg);
}
/* Turns the hamburger lines into cross */
.menu__toggler:checked + .menu__hamburger > div::before,
.menu__toggler:checked + .menu__hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
.menu__toggler:checked:hover + .menu__hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu__toggler:checked ~ .menu__list {
  visibility: visible;
}
.menu__toggler:checked ~ .menu__list > div {
  transform: scale(1.5);
  transition-duration: var(--menu-speed);
}
.menu__toggler:checked ~ .menu__list > div > div {
  opacity: 1;
  transform: opacity 0.4s ease 0.4s;
}
/* Menu Overlay */
.menu .menu__container .menu__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  visibility: hidden;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.menu__list > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  /* transform: scale(0); */
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu .menu__list > div > div {
  text-align: center;
  border-radius: 50%;
  max-width: 200vw;
  max-height: 200vw;
  /* opacity: 0; */
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu__list ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.3rem;
}
/* Links */
.menu__link {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease;
}
.menu__link:hover {
  color: var(--secondary-color);
}
