* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", Arial, Helvetica, sans-serif;
}
.container {
  margin: auto;
  background: #4f464b;
  overflow: auto;
  border-bottom: 1px solid #8f9092;
  /* padding: 20px 50px; */
}
.logo {
  float: left;
  padding-top: 18px;
  padding-left: 15px;
  color: #fff;
  font-size: bold;
}
.nav__list {
  float: right;
  /* padding-top: 5px; */
}
.nav__items {
  display: inline;
}

.nav__link {
  margin-left: 10px;
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav__active {
  background: #504a40;
  color: #f89d13;
}

.showcase {
  background: url("../images/showcase.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.showcase__content {
  font-size: 30px;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 150px;
  line-height: 2;
}

.lead {
  color: #f89d13;
}

.showcase__description {
  color: #fff;
  font-size: 18px;
}
.btn__primary {
  background: #000;
  font-size: 15px;
  color: #fff;
  padding: 15px;
  border: none;
  font-size: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.5s ease;
}
.btn__primary:hover {
  background: #504a40;
}
.galery {
  overflow: auto;
}

.galery__right {
  text-align: center;
  float: right;
  height: 400px;
  padding: 20px;
  width: 50%;
  padding-top: 100px;
  line-height: 1.5;
  background: #504a40;
  color: #fff;
}
.galery__heading,
.galery__text {
  padding-bottom: 15px;
}
.btn__secondary {
  background: #000;
  font-size: 15px;
  color: #fff;
  padding: 15px;
  border: none;
  font-size: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.5s ease;
}
.btn__secondary:hover {
  background: #eeeeee;
  color: #000;
}
.galery {
  overflow: hidden;
}
.galery__left {
  height: 400px;
  float: left;
  background: url("../images/photo-1.jpg");
  width: 50%;
}
.box {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 60px;
}
.box--2 {
  background: #f89d13;
}
.box__title,
.box__text {
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 1.5;
}
.clr {
  clear: both;
}
.footer {
  background: #504a40;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .showcase {
    height: 50vh;
  }
  .showcase__content {
    font-size: 25px;
    max-width: 100%;
    padding-top: 20%;
    line-height: 1.5;
  }
  .galery__left {
    display: none;
    width: 0px;
  }
  .galery__right {
    height: 400px;
    width: 100%;
    padding-top: 45px;
  }
  .box {
    float: none;
    width: 100%;
  }
}
